@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "IBM Plex Sans Variable", sans-serif;
}

html {
  overflow: hidden;

  body {
    overflow: auto;
    height: 100vh;
    overscroll-behavior: contain;

    @apply text-zinc-600 dark:text-zinc-200;
  }

  * h1,
  * h2,
  * h3 {
    @apply text-zinc-900 dark:text-zinc-50 font-medium;
  }
}
