:root {
  --col-bg: #fafafa;
  --col-fg-1: #a1a1a1;
  --col-fg-2: #262626;

  @media (prefers-color-scheme: dark) {
    --col-bg: #0a0a0a;
    --col-fg-1: #737373;
    --col-fg-2: #e5e5e5;
  }
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;

  overflow: scroll;
  overscroll-behavior: contain;

  display: grid;
  place-items: center;

  background-color: var(--col-bg);

  & > a {
    padding: 1em;
    color: var(--col-fg-1);
    font-size: small;
    font-weight: 500;
    text-decoration: none;

    & > svg {
      width: 3.6em;
      height: 3.6em;
      stroke-width: 1.4px;

      & > path {
        color: var(--col-fg-2);

        transition-duration: 100ms;
      }

      & > circle {
        color: var(--col-fg-1);
      }
    }
  }

  & a > svg:hover > path {
    color: var(--col-bg);
  }
}
