:root {
  --col-bg: #fafafa;
  --col-fg-1: #383838;
  --col-fg-2: #a1a1a1;

  @media (prefers-color-scheme: dark) {
    --col-bg: #0a0a0a;
    --col-fg-1: #c2c2c2;
    --col-fg-2: #737373;
  }
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;

  overflow: scroll;
  overscroll-behavior: contain;

  display: grid;
  place-items: center;

  background-color: var(--col-bg);

  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > svg {
      width: 2em;
      height: 2em;
      color: var(--col-fg-1);
      stroke-width: 1.4px;
    }

    & > a {
      margin-top: 2em;
      padding: 1em;
      color: var(--col-fg-2);
      font-size: small;
      font-weight: 500;
      text-decoration: none;
    }

    & > a:hover {
      text-decoration: underline;
      text-underline-offset: 0.2em;
    }

    & > a:active {
      text-decoration-thickness: 0.1em;
    }
  }
}
